<% if resource.errors.any? %>
  <div id="error_explanation">
    <div class="col-md-3">
      <% resource.errors.each do |error| %>
        <div class="alert alert-danger alert-dismissible">
          <%= error.full_message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
