<h1>Редактирования профиля</h1>

<div class="row">
  <div class="col-md-6 buffer-top">

    <%= render 'form' %>

    <p class="buffer-top">
      <%= link_to I18n.t('actions.account.password.change'), edit_user_registration_path %>
    </p>
  </div>
</div>
